[submodule "components/lidar/src/rplidar_ros"]
	path = components/lidar/src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros
	branch = ros2-devel
[submodule "components/microros/ros_ws/src/micro_ros_setup"]
	path = components/microros/ros_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = humble
[submodule "components/rosboard/rosboard"]
	path = components/rosboard/ros_ws/src/rosboard
	url = https://github.com/dheera/rosboard
